<div class="alert alert-success" role="alert"  *ngIf="adicionado">
    Funcionário adicionado: <strong>{{nome}}</strong>
  </div>
  
  <div class="form-group">
    <label>Nome</label>
    <input type="text" class="form-control"  (focus)="adicionado = false" #nomeInput> 
  </div>
  
  <button type="button" class="btn btn-primary" 
    (click)="adicionar(nomeInput.value)">Adicionar</button>