<div class="row" style="margin-top: 20px">
  <div class="col-2" *ngFor="let funcionario of funcionarios">
      <div class="card" [ngStyle]="getEstilosCartao(funcionario)">
        <img class="card-img-top" src="https://randomuser.me/api/portraits/men/{{funcionario.id}}.jpg"  >
          <div class="card-block">
            {{funcionario.nome}}
          </div>
      </div>
  </div>
</div>
