<div class="container">
    <app-formulario (enviarPessoa)="funcionarios = $event"></app-formulario>

    <app-cartao-pessoa [funcionarios] = funcionarios></app-cartao-pessoa>
</div>  
<app-test></app-test>
